{% extends 'base.html.twig' %}

{% block title %}
    Homepage Symfony Project
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {# see src/Controller/QuestionController.php #}

    <div>
        По событиям, здесь будет полный вопрос!
    </div>
{% endblock %}